body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#content {
    width: 70%;
    padding: 20px;
    float: left;
}

#sidebar {
    width: 30%;
    background: silver;
    padding: 30px 15px;
    float: right;
}

h1 {
    border-bottom: 3px solid silver;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #34c9eb;
}

.date {
    font-style: italic;
    color: silver;
    font-size: 14px;
}
